<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    
</head>
<body>
    <h1>Home page of Khata Book</h1>
    <form action="/create" >
        <button>Create new Hisaab kitaab</button>
    </form>
    <h4>Recent hisaab kitaab</h4>
    <br>
    <br>
    <br>
    <% data.forEach(element => { %>
        <% if(element.length >9) {%> 
        <form action= <%= `/getData/${element}` %>>
             <button><%= `hisaab of  ${element} ` %></button> 
            </form>
            <br>
        <form action=<%=`/deleteFile/${element}` %> > <button>Delete</button></form>
        <br>
        <br>
        <% } %>
   <%  }); %>

    
</body>
</html>