<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>???</title>
</head>
<body>
    <form action="/check">
        <h2>Find the missing data</h2>
        <input type="text" name="answer" id="" placeholder="answer">
        <br>
        <br><br>
        <button>submit</button>
    </form>
</body>
</html>